body {}

#content {
	margin-top: 2em;
	margin-bottom: 2em;

	padding-right: 1em;
	padding-left: 1em;

	background-color: #fff;
}

#header_image_block {
	/*margin-top: 1em;*/
	margin-bottom: 2em;

	/*padding-top: 2em;*/
}